body {
  margin:0;
  padding:0;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

html {
  scroll-behavior: smooth;
  color: white;
  font-size: 0;
  background-image: url("bg4.jpg");
  background-size: cover;
}

section {
}

img.signatureCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4px;
  height: 40px;
  width: 120px;
  filter: invert(100%);
}

video.videoOne {
  opacity: 1.0;
  transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
}

video.videoOne:hover {
  opacity: 0.5;
  transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
}​

img.imgTwo {
  opacity: 1.0;
}

img.imgTwo:hover {
  opacity: 0.7;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.videoHeader {
  #video;
  height: 100vh;
  color: #fff;
}

.videoContainer {
  max-width: 960px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
}

.fullscreenVideo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  overflow: hidden;
}

.fullscreenVideo video {
  min-width: 100%;
  min-height: 100%;
}

.typeWriterContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Major Mono Display";
  font-size: 24px;
}

.backToTop {
  position: fixed;
  bottom: 20px;
  right: 5px;
  z-index: 997;
  padding: 15px;
}

.backToTopImg {
  filter: opacity(50%);
}

.backToTopImg:hover {
  filter: opacity(100%);
}

.menuBar {
  z-index: 999;
  height: 48px;
  width: 100%;
  top: 0px;
  background-color: black;
  position: fixed;
}

.menuButton {
  position: absolute;
  left: 6px;
  width: 36px;
  height: 100%;
  z-index: 999;
  background-image: url("menu.png");
  background-size: cover;
  background-position: center;
}

.menuBarRest {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 998;
}

.menuButton:hover {
  filter: opacity(50%);
}

.menuContainer {
  display: none;
  z-index: 998;
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0px;
  width: 100%;
  height: 100vh;
}

.menuBlock1 {
  position: absolute;
  outline: 6px solid black;
  outline-offset: -6px;
  width: 33.33%;
  height: 100%;
  overflow: hidden;
  background-image: url("https://images.pexels.com/photos/34600/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-position: center;
  filter: opacity(100%) grayscale(100%);
  -o-transition: .6s;
  -ms-transition: .6s;
  -moz-transition: .6s;
  -webkit-transition: .6s;
  transition: .6s;
}

.menuBlock1Color {
  z-index: -1;
  position: absolute;
  outline: 6px solid black;
  outline-offset: -6px;
  width: 33.33%;
  height: 100%;
  overflow: hidden;
  background-image: url("https://images.pexels.com/photos/34600/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-position: center;
}

.menuBlock2 {
  position: absolute;
  outline: 6px solid black;
  outline-offset: -6px;
  margin-left: 33.33%;
  padding: 0;
  width: 33.33%;
  height: 50%;
  overflow: hidden;
  background-image: url("https://images.pexels.com/photos/1601773/pexels-photo-1601773.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-position: center;
  filter: opacity(100%) grayscale(100%);
  -o-transition: .6s;
  -ms-transition: .6s;
  -moz-transition: .6s;
  -webkit-transition: .6s;
  transition: .6s;
}

.menuBlock2Color {
  z-index: -1;
  position: absolute;
  outline: 6px solid black;
  outline-offset: -6px;
  margin-left: 33.33%;
  padding: 0;
  width: 33.33%;
  height: 50%;
  overflow: hidden;
  background-image: url("https://images.pexels.com/photos/1601773/pexels-photo-1601773.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-position: center;
}

.menuBlock3 {
  position: absolute;
  outline: 6px solid black;
  outline-offset: -6px;
  margin-left: 66.66%;
  padding: 0;
  width: 33.33%;
  height: 66.66%;
  overflow: hidden;
  background-image: url("https://producerhive.com/wp-content/uploads/2019/07/AdobeStock_103542686-1024x683.jpeg");
  background-size: cover;
  background-position: center;
  filter: opacity(100%) grayscale(100%);
  -o-transition: .6s;
  -ms-transition: .6s;
  -moz-transition: .6s;
  -webkit-transition: .6s;
  transition: .6s;
}

.menuBlock3Color {
  z-index: -1;
  position: absolute;
  outline: 6px solid black;
  outline-offset: -6px;
  margin-left: 66.66%;
  padding: 0;
  width: 33.33%;
  height: 66.66%;
  overflow: hidden;
  background-image: url("https://producerhive.com/wp-content/uploads/2019/07/AdobeStock_103542686-1024x683.jpeg");
  background-size: cover;
  background-position: center;
}

.menuBlock4 {
  position: absolute;
  outline: 6px solid black;
  outline-offset: -6px;
  margin-top: 50vh;
  margin-left: 33.33%;
  padding: 0;
  width: 33.33%;
  height: 25%;
  overflow: hidden;
  background-image: url("https://images.pexels.com/photos/220067/pexels-photo-220067.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-position: center;
  filter: opacity(100%) grayscale(100%);
  -o-transition: .6s;
  -ms-transition: .6s;
  -moz-transition: .6s;
  -webkit-transition: .6s;
  transition: .6s;
}

.menuBlock4Color {
  z-index: -1;
  position: absolute;
  outline: 6px solid black;
  outline-offset: -6px;
  margin-top: 50vh;
  margin-left: 33.33%;
  padding: 0;
  width: 33.33%;
  height: 25%;
  overflow: hidden;
  background-image: url("https://images.pexels.com/photos/220067/pexels-photo-220067.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-position: center;
}

.menuBlock5 {
  position: absolute;
  outline: 6px solid black;
  outline-offset: -6px;
  margin-top: 75vh;
  margin-left: 33.33%;
  padding: 0;
  width: 33.33%;
  height: 25%;
  overflow: hidden;
  background-image: url("https://images.pexels.com/photos/164745/pexels-photo-164745.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-position: center;
  filter: opacity(100%) grayscale(100%);
  -o-transition: .6s;
  -ms-transition: .6s;
  -moz-transition: .6s;
  -webkit-transition: .6s;
  transition: .6s;
}

.menuBlock5Color {
  z-index: -1;
  position: absolute;
  outline: 6px solid black;
  outline-offset: -6px;
  margin-top: 75vh;
  margin-left: 33.33%;
  padding: 0;
  width: 33.33%;
  height: 25%;
  overflow: hidden;
  background-image: url("https://images.pexels.com/photos/164745/pexels-photo-164745.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-position: center;
}

.menuBlock6 {
  position: absolute;
  outline: 6px solid black;
  outline-offset: -6px;
  margin-top: 66.66vh;
  margin-left: 66.66%;
  padding: 0;
  width: 16.66%;
  height: 33.33%;
  overflow: hidden;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQEoORckLTbiVUDzBcsg0DVPN6aBQ3BRcYs2uBzA7RlWp27wiLn");
  background-size: cover;
  background-position: center;
  filter: opacity(100%) grayscale(100%);
  -o-transition: .6s;
  -ms-transition: .6s;
  -moz-transition: .6s;
  -webkit-transition: .6s;
  transition: .6s;
}

.menuBlock6Color {
  z-index: -1;
  position: absolute;
  outline: 6px solid black;
  outline-offset: -6px;
  margin-top: 66.66vh;
  margin-left: 66.66%;
  padding: 0;
  width: 16.66%;
  height: 33.33%;
  overflow: hidden;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQEoORckLTbiVUDzBcsg0DVPN6aBQ3BRcYs2uBzA7RlWp27wiLn");
  background-size: cover;
  background-position: center;
}

.menuBlock7 {
  position: absolute;
  outline: 6px solid black;
  outline-offset: -6px;
  margin-top: 83.33vh;
  margin-left: 83.33%;
  padding: 0;
  width: 8.33%;
  height: 16.66%;
  overflow: hidden;
  background-image: url("https://cdn.windowsreport.com/wp-content/uploads/2017/10/gmail-attachments-failed-loading.png");
  background-size: cover;
  background-position: center;
  filter: opacity(100%) grayscale(100%);
  -o-transition: .6s;
  -ms-transition: .6s;
  -moz-transition: .6s;
  -webkit-transition: .6s;
  transition: .6s;
}

.menuBlock7Color {
  z-index: -1;
  position: absolute;
  outline: 6px solid black;
  outline-offset: -6px;
  margin-top: 83.33vh;
  margin-left: 83.33%;
  padding: 0;
  width: 8.33%;
  height: 16.66%;
  overflow: hidden;
  background-image: url("https://cdn.windowsreport.com/wp-content/uploads/2017/10/gmail-attachments-failed-loading.png");
  background-size: cover;
  background-position: center;
  background-color: white;
}

.menuBlock8 {
  position: absolute;
  outline: 6px solid black;
  outline-offset: -6px;
  margin-top: 83.33vh;
  margin-left: 91.66%;
  padding: 0;
  width: 8.33%;
  height: 16.66%;
  overflow: hidden;
  background-image: url("https://www.republiccapitalaccess.com/wp-content/uploads/2014/07/linkedin-icon.png");
  background-size: cover;
  background-position: center;
  filter: opacity(100%) grayscale(100%);
  -o-transition: .6s;
  -ms-transition: .6s;
  -moz-transition: .6s;
  -webkit-transition: .6s;
  transition: .6s;
}

.menuBlock8Color {
  z-index: -1;
  position: absolute;
  outline: 6px solid black;
  outline-offset: -6px;
  margin-top: 83.33vh;
  margin-left: 91.66%;
  padding: 0;
  width: 8.33%;
  height: 16.66%;
  overflow: hidden;
  background-image: url("https://www.republiccapitalaccess.com/wp-content/uploads/2014/07/linkedin-icon.png");
  background-size: cover;
  background-position: center;
  background-color: white;
}

.menuBlock9 {
  position: absolute;
  outline: 6px solid black;
  outline-offset: -6px;
  margin-top: 66.66vh;
  margin-left: 83.33%;
  padding: 0;
  width: 16.66%;
  height: 16.66%;
  overflow: hidden;
  background-image: url("https://media.istockphoto.com/photos/resume-applications-on-the-desk-ready-to-be-reviewed-picture-id698820654?k=6&m=698820654&s=612x612&w=0&h=NEdmsSTldovJRPhogfNTwJ82MxDWiOWOUw00_SMC2gg=");
  background-size: cover;
  background-position: center;
  filter: opacity(100%) grayscale(100%);
  -o-transition: .6s;
  -ms-transition: .6s;
  -moz-transition: .6s;
  -webkit-transition: .6s;
  transition: .6s;
}

.menuBlock9Color {
  z-index: -1;
  position: absolute;
  outline: 6px solid black;
  outline-offset: -6px;
  margin-top: 66.66vh;
  margin-left: 83.33%;
  padding: 0;
  width: 16.66%;
  height: 16.66%;
  overflow: hidden;
  background-image: url("https://media.istockphoto.com/photos/resume-applications-on-the-desk-ready-to-be-reviewed-picture-id698820654?k=6&m=698820654&s=612x612&w=0&h=NEdmsSTldovJRPhogfNTwJ82MxDWiOWOUw00_SMC2gg=");
  background-size: cover;
  background-position: center;
}

.menuBlock1:hover {
  filter: opacity(0%);
}

.menuBlock2:hover {
  filter: opacity(0%);
}

.menuBlock3:hover {
  filter: opacity(0%);
}

.menuBlock4:hover {
  filter: opacity(0%);
}

.menuBlock5:hover {
  filter: opacity(0%);
}

.menuBlock6:hover {
  filter: opacity(0%);
}

.menuBlock7:hover {
  filter: opacity(0%);
}

.menuBlock8:hover {
  filter: opacity(0%);
}

.menuBlock9:hover {
  filter: opacity(0%);
}

@media(min-width: 1081px){
  .menuBlockText {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Bebas Neue";
    font-size: 68px;
    opacity: 1;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
  }
}

@media(max-width: 1080px){
  .menuBlockText {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Bebas Neue";
    font-size: 48px;
    opacity: 1;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
  }
}

@media(max-width: 768px){
  .menuBlockText {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Bebas Neue";
    font-size: 36px;
    opacity: 1;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }
}

@media(max-width: 600px){
  .menuBlockText {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Bebas Neue";
    font-size: 28px;
    opacity: 1;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }
}

.sectionContainer {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* SECTION CONTAINER RESPONSIVE DESIGN */
/* SECTION CONTAINER RESPONSIVE DESIGN */
/* SECTION CONTAINER RESPONSIVE DESIGN */
@media(min-width: 1367px){
  .sectionZeroContainer {
    position: relative;
    margin: 0;
    padding: 0;
    height: 800px;
    width: 100%;
  }

  .sectionOneContainer {
    position: relative;
    margin: 0;
    padding: 0;
    height: 1640px;
    width: 100%;
  }

  .sectionTwoContainer {
    position: relative;
    margin: 0;
    padding: 0;
    height: 2700px;
    width: 100%;
  }

  .sectionThreeContainer {
    position: relative;
    margin: 0;
    padding: 0;
    height: 1360px;
    width: 100%;
  }
}

@media(max-width: 1366px){
  .sectionZeroContainer {
    position: relative;
    margin: 0;
    padding: 0;
    height: 768px;
    width: 100%;
  }

  .sectionOneContainer {
    position: relative;
    margin: 0;
    padding: 0;
    height: 1500px;
    width: 100%;
  }

  .sectionTwoContainer {
    position: relative;
    margin: 0;
    padding: 0;
    height: 2400px;
    width: 100%;
  }

  .sectionThreeContainer {
    position: relative;
    margin: 0;
    padding: 0;
    height: 1260px;
    width: 100%;
  }
}

@media(max-width: 1200px){
  .sectionZeroContainer {
    position: relative;
    margin: 0;
    padding: 0;
    height: 800px;
    width: 100%;
  }

  .sectionOneContainer {
    position: relative;
    margin: 0;
    padding: 0;
    height: 1400px;
    width: 100%;
  }

  .sectionTwoContainer {
    position: relative;
    margin: 0;
    padding: 0;
    height: 2120px;
    width: 100%;
  }

  .sectionThreeContainer {
    position: relative;
    margin: 0;
    padding: 0;
    height: 1180px;
    width: 100%;
  }
}
/* SECTION CONTAINER RESPONSIVE DESIGN */
/* SECTION CONTAINER RESPONSIVE DESIGN */
/* SECTION CONTAINER RESPONSIVE DESIGN */

.sectionFourContainer {
  position: relative;
  margin: 0;
  padding: 0;
  height: 800px;
  width: 100%;
}

.sectionFiveContainer {
  position: relative;
  margin: 0;
  padding: 0;
  height: 1000px;
  width: 100%l
}

.sectionZeroTextBox {
  position: absolute;
  top: 30px;
  margin-left: 5%;
  margin-right: 5%;
  font-family: "Bebas Neue";
}

.sectionTextBox {
  position: absolute;
  top: 30px;
  margin-left: 5%;
  margin-right: 5%;
  font-family: "Bebas Neue";
}

@media(min-width: 1367px){
  .sectionTextHeader {
    position: relative;
    color: black;
    width: 100%;
    font-size: 44px;
  }
}

@media(max-width: 1366px){
  .sectionTextHeader {
    position: relative;
    top: 10px;
    color: black;
    width: 100%;
    font-size: 40px;
  }
}

@media(max-width: 1200px){
  .sectionTextHeader {
    position: relative;
    top: 12px;
    color: black;
    width: 100%;
    font-size: 36px;
  }
}

/* SECTION ZERO RESPONSIVE DESIGN START */
/* SECTION ZERO RESPONSIVE DESIGN START */
/* SECTION ZERO RESPONSIVE DESIGN START */

@media(min-width: 1367px){
  .sectionZeroDivider {
    position: relative;
    width: 100%;
    top: -48px;
    display: flex;
    flex-direction: row;
  }
  
  .sectionZeroPhoto {
  width: 550px;
  background: url("jimmy-hwang.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0px 20px;
  margin-right: 6%;
  }

  .sectionZeroText {
    top: -50px;
    z-index: 100;
    width: 600px;
    font-size: 18px;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: justify;
    margin-right: 6%;
  }

  .sectionZeroText2 {
    width: 200px;
    font-size: 14px;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: justify;
  }

}

@media(max-width: 1366px){
  .sectionZeroDivider {
    position: relative;
    width: 100%;
    top: -32px;
    display: flex;
    flex-direction: row;
  }

  .sectionZeroPhoto {
    width: 500px;
    background: url("jimmy-hwang.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0px 20px;
    margin-right: 5%;
  }

  .sectionZeroText {
    top: -50px;
    z-index: 100;
    width: 550px;
    font-size: 17px;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: justify;
    margin-right: 5%;
  }

  .sectionZeroText2 {
    width: 200px;
    font-size: 13px;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: justify;
  }

}

@media(max-width: 1200px){
  .sectionZeroDivider {
    position: relative;
    width: 100%;
    top: -24px;
    display: flex;
    flex-direction: row;
  }

  .sectionZeroPhoto {
    width: 475px;
    background: url("jimmy-hwang.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0px 20px;
    margin-right: 4%;
  }

  .sectionZeroText {
    top: -50px;
    z-index: 100;
    width: 400px;
    font-size: 15px;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: justify;
    margin-right: 4%;
  }

  .sectionZeroText2 {
    width: 200px;
    font-size: 12.5px;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: justify;
  }
}
/* SECTION ZERO RESPONSIVE DESIGN END */
/* SECTION ZERO RESPONSIVE DESIGN END */
/* SECTION ZERO RESPONSIVE DESIGN END */

/* SECTION ONE RESPONSIVE DESIGN START */
/* SECTION ONE RESPONSIVE DESIGN START */
/* SECTION ONE RESPONSIVE DESIGN START */
@media(min-width: 1367px){
  .sectionOneVideoContainer {
    position: relative;
    top: -26px;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  
  .sectionOneVideo1 {
    width: 920px;
    height: auto;
    margin-right: 3%;
  }

  .sectionOneVideo2 {
    width: 640px;
    height: auto;
    margin-right: 5%;
  }

  .sectionOneVideoContainer2 {
    position: relative;
    top: -26px;
    margin-bottom: 60px;
    width: 1360px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .sectionOneVideoPart {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
  }

  .sectionOneVideoText {
    margin-top: -18px;
    width: 460px;
    text-align: justify;
    font-size: 16px;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
  }

}

@media(max-width: 1366px){
  .sectionOneVideoContainer {
    position: relative;
    top: -8px;
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .sectionOneVideo1 {
    width: 800px;
    height: auto;
    margin-right: 4%;
  }

  .sectionOneVideo2 {
    width: 560px;
    height: auto;
    margin-right: 4%;
  }

  .sectionOneVideoContainer2 {
    position: relative;
    top: -8x;
    margin-bottom: 60px;
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .sectionOneVideoPart {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
  }

  .sectionOneVideoText {
    margin-top: -18px;
    width: 460px;
    text-align: justify;
    font-size: 15px;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
  }
}

@media(max-width: 1200px){
  .sectionOneVideoContainer {
    position: relative;
    top: -2px;
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .sectionOneVideo1 {
    width: 680px;
    height: auto;
    margin-right: 4%;
  }

  .sectionOneVideo2 {
    width: 490px;
    height: auto;
    margin-right: 4%;
  }

  .sectionOneVideoContainer2 {
    position: relative;
    top: -2px;
    margin-bottom: 60px;
    width: 1040px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .sectionOneVideoPart {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
  }

  .sectionOneVideoText {
    margin-top: -18px;
    width: 400px;
    text-align: justify;
    font-size: 14px;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
  }
}
/* SECTION ONE RESPONSIVE DESIGN END */
/* SECTION ONE RESPONSIVE DESIGN END */
/* SECTION ONE RESPONSIVE DESIGN END */

/* SECTION TWO RESPONSIVE DESIGN START */
/* SECTION TWO RESPONSIVE DESIGN START */
/* SECTION TWO RESPONSIVE DESIGN START */
@media(min-width: 1367px){
  .sectionTwoPicContainer {
    top: -26px;
    z-index: 100;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1360px;
    margin-bottom: 60px;
  }

  .picRow1 {
    height: 420px;
    width: auto;
  }

  .picRow2 {
    height: 560px;
    width: auto;
  }

  .picRow3 {
    width: 640px;
    height: auto;
  }
}

@media(max-width: 1366px){
  .sectionTwoPicContainer {
    top: -12px;
    z-index: 100;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1200px;
    margin-bottom: 52px;
  }

  .picRow1 {
    height: 380px;
    width: auto;
  }

  .picRow2 {
    height: 480px;
    width: auto;
  }

  .picRow3 {
    width: 570px;
    height: auto;
  }
}

@media(max-width: 1200px){
  .sectionTwoPicContainer {
    top: -8px;
    z-index: 100;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1040px;
    margin-bottom: 44px;
  }

  .picRow1 {
    height: 320px;
    width: auto;
  }

  .picRow2 {
    height: 420px;
    width: auto;
  }

  .picRow3 {
    width: 490px;
    height: auto;
  }
}
/* SECTION TWO RESPONSIVE DESIGN END */
/* SECTION TWO RESPONSIVE DESIGN END */
/* SECTION TWO RESPONSIVE DESIGN END */

/* SECTION THREE RESPONSIVE DESIGN START */
/* SECTION THREE RESPONSIVE DESIGN START */
/* SECTION THREE RESPONSIVE DESIGN START */
@media(min-width: 1367px){
  .sectionThreeAudioContainer {
    position: relative;
    top: -26px;
    width: 1360px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .sectionThreeAudioPart {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
  }

  .sectionThreeAudioText {
    margin-top: -18px;
    margin-bottom: 60px;
    width: 400px;
    text-align: justify;
    font-size: 14px;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
  }

  .vid3 {
    width: 640px;
    height: 360px;
  }
}

@media(max-width: 1366px){
  .sectionThreeAudioContainer {
    position: relative;
    top: -12px;
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .sectionThreeAudioPart {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
  }

  .sectionThreeAudioText {
    margin-top: -18px;
    margin-bottom: 60px;
    width: 400px;
    text-align: justify;
    font-size: 14px;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
  }

  .vid3 {
    width: 560px;
    height: 320px;
  }
}

@media(max-width: 1200px){
  .sectionThreeAudioContainer {
    position: relative;
    top: -8px;
    width: 1040px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .sectionThreeAudioPart {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
  }

  .sectionThreeAudioText {
    margin-top: -18px;
    margin-bottom: 60px;
    width: 400px;
    text-align: justify;
    font-size: 14px;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
  }

  .vid3 {
    width: 480px;
    height: 265px;
  }
}
/* SECTION THREE RESPONSIVE DESIGN END */
/* SECTION THREE RESPONSIVE DESIGN END */
/* SECTION THREE RESPONSIVE DESIGN END */

/* SECTION FOUR RESPONSIVE DESIGN START */
/* SECTION FOUR RESPONSIVE DESIGN START */
/* SECTION FOUR RESPONSIVE DESIGN START */
@media(min-width: 1367px){
  .sectionFourText {
    margin-top: 170px;
    width: 1360px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 28px;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
  }
}

@media(max-width: 1366px){
  .sectionFourText {
    margin-top: 170px;
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 26px;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
  }
}

@media(max-width: 1200px){
  .sectionFourText {
    margin-top: 170px;
    width: 1040px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 24px;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
  }
}
/* SECTION FOUR RESPONSIVE DESIGN END */
/* SECTION FOUR RESPONSIVE DESIGN END */
/* SECTION FOUR RESPONSIVE DESIGN END */

/* SECTION FIVE RESPONSIVE DESIGN START */
/* SECTION FIVE RESPONSIVE DESIGN START */
/* SECTION FIVE RESPONSIVE DESIGN START */
@media(min-width: 1367px){
  .sectionFiveText {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    width: 1360px;
    font-size: 14px;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
  }

  .sectionFiveCloser {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    width: 1360px;
    font-size: 14px;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
  }

  .piano {
    width: 1360px;
    height: 500px;
  }
}

@media(max-width: 1366px){
  .sectionFiveText {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    width: 1200px;
    font-size: 14px;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
  }

  .sectionFiveCloser {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    width: 1200px;
    font-size: 14px;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
  }

  .piano {
    width: 1200px;
    height: 500px;
  }
}

@media(max-width: 1200px){
  .sectionFiveText {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    width: 1040px;
    font-size: 14px;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
  }

  .sectionFiveCloser {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    width: 1040px;
    font-size: 14px;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
  }

  .piano {
    width: 1040px;
    height: 500px;
  }
}
/* SECTION FIVE RESPONSIVE DESIGN END */
/* SECTION FIVE RESPONSIVE DESIGN END */
/* SECTION FIVE RESPONSIVE DESIGN END */